.el-table td, .el-table th{
    padding:5px;

} 
.el-table_1_column_1{
        width:40px;
    }
.el-button--mini{
    width:40px;padding:7px 5px;
}
.el-table_1_column_1{
    width:40px;
}
.el-input__inner{
    padding:0 5px;
}
.z-putaway{
    background-color:#58bc58;padding:5px;color:#fff;
}
.z-outaway{
    background-color:#ccc;padding:5px;
}
.has-gutter th{
    height:45px;background-color:#495060;border-bottom:1px solid #000;text-align:center;color:#fff;
}
.block {
    margin-top:10px;margin-bottom:9px;
}
.cell{
    text-align:center;
}
.z-detalis{
    width:100px;
}
.z-nopay{
    background-color:#f0ad4e;padding:5px;color:#fff;
}
.z-pay{
    background-color:#5cb85c;padding:5px;color:#fff;
}
.z-danger{
    color: #fff;
    background-color: #fa5555;
    border-color: #fa5555;
    width:100px;
}
.z-danger:hover{
    color: #fff;
    background: #fb7777;
    border-color: #fb7777;
    width:100px;
}
.z-danger:active{
    color: #fff;
    background: #e14d4d;
    border-color: #e14d4d;
    width:100px;
}
.z-warning{
    color: #fff;
    background-color: #eb9e05;
    border-color: #eb9e05;
    width:100px;
}
.z-warning:hover{
    color: #fff;
    background: #efb137;
    border-color: #efb137;
    width:100px;
}
.z-warning:active{
    color: #fff;
    background: #d48e05;
    border-color: #d48e05;
    width:100px;
}