.content{
        flex:1;
        display:flex;
        overflow:hidden;
        position:relative;
        .navleft{
            width:2.5rem;
            ul{
                height:100%;
                overflow:auto;
                li{
                   
                    position: relative;
                    a{
                        display:block;
                        background-color:#F5F5F5;
                        padding:.5rem .3rem;
                        border-bottom: .025rem solid #ededed;
                        box-sizing: border-box;
                        border-left: .1rem solid #f8f8f8;
                        text-decoration:none;
                        color:#333;
                    }
                }
                .active{
                    background-color:#fff;
                    border-left: .1rem solid #3190e8;
                }
            }
        }
        .foodslist{
            flex:1;
            overflow:auto;
           
        }
        .tc{
            position:absolute;
            top:3rem;
            left:1.8rem;
            width:6rem;
            border:1px solid #ccc;
            padding:.7rem .4rem;
            text-align:center;
            display:none;
            z-index:99;
            background:#fff;
            button{
                color:#fff;
                margin-left:.1rem;
                font-size:.35rem;
                margin-top:.3rem;
                width:1.8rem;
                height:.8rem;
                border:none;
                // padding:.2rem;
                &:first-child{
                    background:#3190e8;
                    
                }
                &:last-child{
                    background:#3190e8;
                }
            }
        }
}
