.background{
    height:100%;
    background-color:#324152;
    position:relative;
    .box{
        width:26%;
        height:50%;
        position:absolute;
        top:10%;
        left:35%;
        .title{
            height:30%;
            font-size: 34px;
            text-align: center;
            color: #fff;
        }
        .form{
            background-color:#fff;
            height:80%;
            overflow:hidden;
            text-align: center;
            border-radius:10px;
            div{
                height:14%;
                position:relative;
                margin-bottom:7%;
                p{
                    position:absolute;
                    color:red;
                    top:100%;
                    left:7%;
                }
            }
            input{
                margin:5%;
                margin-bottom:20%;
                margin-left:7%;
                display: block;
                width:86%;
                height:100%;
                border:1px solid #ccc;
                border-radius:5px;
            }
            input:first-child{
                margin-top:5%;
            }
            .button{
                background-color:#18B5FF;
                color: #fff;
                margin-bottom:0px;
            }
            .tip{
                color:red;
                font-size: 12px;
            }
            .tzip{
                margin-top:20px;
            }
        

        }
        
    }
    
}