.el-select {
  width: 100px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}
.z-search{
    width:400px;display:inline-block;margin-left:10px;
    .el-input{
        font-size:12px;
    }
    .el-input__inner{
        height:30px;
    }
}
.el-button{
    padding:7px 15px;font-size:12px;
}
.el-button+.el-button{
    margin-left:5px;
}
.toolbar{
    margin-bottom:5px;
}